<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!--     <context:property-override location="classpath:override.properties"/> -->

    <context:component-scan base-package="eu/etaxonomy/cdm/api/service"/>
    <context:component-scan base-package="eu/etaxonomy/cdm/ext"/>
    <context:component-scan base-package="eu/etaxonomy/cdm/io"/>

    <bean id="dataSource" class="org.unitils.database.UnitilsDataSourceFactoryBean"/>
    
    <import resource="classpath:/eu/etaxonomy/cdm/applicationContext-test.common.xml" />
    
    <import resource="classpath:/eu/etaxonomy/cdm/persistence.xml" />
    <import resource="classpath:/eu/etaxonomy/cdm/services_base_test.xml"/>

    <!-- security  -->
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <bean id="daoAuthenticationProvider" class="eu.etaxonomy.cdm.api.security.CdmDaoAuthenticationProvider">
        <property name="userDetailsService" ref="userService"/>
        <property name="passwordEncoder" ref="passwordEncoder"/>
        <property name="userDetailsPasswordService" ref="userService"/>
    </bean>
    <bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <constructor-arg>
            <list>
                <bean class="org.springframework.security.authentication.TestingAuthenticationProvider"/>
                <ref bean="daoAuthenticationProvider"/>
            </list>
        </constructor-arg>
    </bean>

</beans>