<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!-- requires at least spring 2.5.4 -->
    <context:property-override location="classpath:eu/etaxonomy/cdm/persistence/override.properties-testPersistentDataSource"/>
    
   <!-- IS THIS REALY NEEDED? a.kohlbecker 25.11.2015
    <context:component-scan base-package="eu/etaxonomy/cdm"/> 
   -->
    
    <bean id="dataSource" class="org.unitils.database.UnitilsDataSourceFactoryBean"/>
     
    <bean id="hibernateProperties" 
        class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLCorrectedDialect</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.internal.NoCachingRegionFactory</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.search.default.directory_provider">org.hibernate.search.store.impl.FSDirectoryProvider</prop>
                <prop key="hibernate.search.default.indexBase">./target/test-classes</prop>
            </props>
        </property>
    </bean> 
    
    <bean id="taxonSpellingDirectory" class="org.springmodules.lucene.index.support.FSDirectoryFactoryBean">
      <property name="location" value="file:./target/test-classes/eu.etaxonomy.cdm.model.taxon.TaxonBase_spelling"/>
      <property name="create" value="false"/>
    </bean>

    <bean id="taxonSpellingIndex" class="org.springmodules.lucene.index.support.SimpleIndexFactoryBean">
      <property name="directory" ref="taxonSpellingDirectory"/>
      <property name="create" value="false"/>
      <property name="analyzer">
        <bean class="org.apache.lucene.analysis.SimpleAnalyzer"/>
      </property>
    </bean>

    <import resource="classpath:/eu/etaxonomy/cdm/persistence.xml"/>    
</beans>