
body.swagger-section #header , body.swagger-section #description{
  padding:0 50px;
  background-color:#F4F7E7;
}

body.swagger-section #content {
  padding:0 50px;
}

#swagger-ui-container {
  clear: both;
}

#header #banner, #header #menu{
  margin-left:auto;
  margin-right:auto;
  max-width: 960px;
  font-size: 200%;
  font-family: "Droid Sans",Verdana,Arial,Helvetica,sans-serif;
}

#header #banner{
  height: 93px; /* matches logo image */
}

#title {
  margin-top: -93px;
  margin-left: 100px;
}


#description {
  padding-top:10px;
  padding-bottom:10px;
  background-color:#F4F7E7;
}

#menu {
  padding-top:10px;
  padding-bottom:10px;
  background-color:#F4F7E7;
}

#menu ul {
 margin-left: -10px;
}

#menu li {
  float: left;
  margin: 0px 10px;
  list-style: outside none none;
}

#menu li.active a {
  color: #000;
}

#menu li a {
  color: #999;
  display: block;
  font-size: 16px;
  padding: 10px 0px 15px;
  text-align: center;
  text-decoration: none;
}

#footer {
  position: relative;
  bottom: 0px;
  max-width: 960px;
  margin-top: 4em;
  margin-left:auto;
  margin-right:auto;
}