/*.project
/.metadata
cdmlib-persistence/*.project
cdmlib-persistence/.metadata
cdmlib-persistence/cdmlib-commons/.classpath
cdmlib-persistence/cdmlib-commons/.project
cdmlib-persistence/cdmlib-commons/.settings
cdmlib-persistence/cdmlib-commons/bin
cdmlib-persistence/cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/ResultWrapper.java
cdmlib-persistence/cdmlib-commons/target
cdmlib-persistence/cdmlib-ext/.classpath
cdmlib-persistence/cdmlib-ext/.project
cdmlib-persistence/cdmlib-ext/.settings
cdmlib-persistence/cdmlib-ext/bin
cdmlib-persistence/cdmlib-ext/hibernate.log
cdmlib-persistence/cdmlib-ext/target
cdmlib-persistence/cdmlib-io/.classpath
cdmlib-persistence/cdmlib-io/.project
cdmlib-persistence/cdmlib-io/.settings
cdmlib-persistence/cdmlib-io/.umlproject
cdmlib-persistence/cdmlib-io/bin
cdmlib-persistence/cdmlib-io/cdmlib-io.uml
cdmlib-persistence/cdmlib-io/src/main/java/eu/etaxonomy/cdm/io/berlinModel/in/BerlinModelTaxonImportValidator.java
cdmlib-persistence/cdmlib-io/src/test/resources/eu/etaxonomy/cdm/io/PUBLIC.xsd
cdmlib-persistence/cdmlib-io/src/test/resources/eu/etaxonomy/cdm/io/dataset.xsd
cdmlib-persistence/cdmlib-io/src/test/resources/log4j.properties
cdmlib-persistence/cdmlib-io/target
cdmlib-persistence/cdmlib-model/.classpath
cdmlib-persistence/cdmlib-model/.externalToolBuilders
cdmlib-persistence/cdmlib-model/.project
cdmlib-persistence/cdmlib-model/.settings
cdmlib-persistence/cdmlib-model/ajcore.*.txt
cdmlib-persistence/cdmlib-model/bin
cdmlib-persistence/cdmlib-model/doc
cdmlib-persistence/cdmlib-model/src/main/java/eu/etaxonomy/cdm/model/common/ParserProblemRange.java
cdmlib-persistence/cdmlib-model/src/test/java/eu/etaxonomy/cdm/model/common/OrderedTermBaseTest.java
cdmlib-persistence/cdmlib-model/src/test/java/eu/etaxonomy/cdm/model/name/NonViralNameTest.java
cdmlib-persistence/cdmlib-model/target
cdmlib-persistence/cdmlib-persistence/.classpath
cdmlib-persistence/cdmlib-persistence/.project
cdmlib-persistence/cdmlib-persistence/.settings
cdmlib-persistence/cdmlib-persistence/.umlproject
cdmlib-persistence/cdmlib-persistence/002_cdm.dll
cdmlib-persistence/cdmlib-persistence/bin
cdmlib-persistence/cdmlib-persistence/cdmlib-persistence.uml
cdmlib-persistence/cdmlib-persistence/out.xml
cdmlib-persistence/cdmlib-persistence/src/test/resources/Copy[!!-~]of[!!-~]test.cdm.datasource.xml
cdmlib-persistence/cdmlib-persistence/src/test/resources/dbscripts/Kopie[!!-~]von[!!-~]001_cdm.ddl
cdmlib-persistence/cdmlib-persistence/src/test/resources/eu/etaxonomy/cdm/persistence/dao/hibernate/PUBLIC.xsd
cdmlib-persistence/cdmlib-persistence/src/test/resources/eu/etaxonomy/cdm/persistence/dao/hibernate/dataset.xsd
cdmlib-persistence/cdmlib-persistence/target
cdmlib-persistence/cdmlib-persistence/test.xml
cdmlib-persistence/cdmlib-print/*odf_output.odf
cdmlib-persistence/cdmlib-print/.classpath
cdmlib-persistence/cdmlib-print/.project
cdmlib-persistence/cdmlib-print/.settings
cdmlib-persistence/cdmlib-print/target
cdmlib-persistence/cdmlib-print/test
cdmlib-persistence/cdmlib-remote-webapp/.classpath
cdmlib-persistence/cdmlib-remote-webapp/.project
cdmlib-persistence/cdmlib-remote-webapp/.settings
cdmlib-persistence/cdmlib-remote-webapp/target
cdmlib-persistence/cdmlib-remote/.classpath
cdmlib-persistence/cdmlib-remote/.project
cdmlib-persistence/cdmlib-remote/.settings
cdmlib-persistence/cdmlib-remote/bin
cdmlib-persistence/cdmlib-remote/eu.etaxonomy.cdm.model.common.DefinedTermBase
cdmlib-persistence/cdmlib-remote/eu.etaxonomy.cdm.model.common.LanguageString
cdmlib-persistence/cdmlib-remote/eu.etaxonomy.cdm.model.description.DescriptionBase
cdmlib-persistence/cdmlib-remote/eu.etaxonomy.cdm.model.description.DescriptionElementBase
cdmlib-persistence/cdmlib-remote/eu.etaxonomy.cdm.model.name.TaxonNameBase
cdmlib-persistence/cdmlib-remote/eu.etaxonomy.cdm.model.taxon.TaxonBase
cdmlib-persistence/cdmlib-remote/null
cdmlib-persistence/cdmlib-remote/secret-accounts.diff
cdmlib-persistence/cdmlib-remote/target
cdmlib-persistence/cdmlib-services/.classpath
cdmlib-persistence/cdmlib-services/.project
cdmlib-persistence/cdmlib-services/.settings
cdmlib-persistence/cdmlib-services/.umlproject
cdmlib-persistence/cdmlib-services/bin
cdmlib-persistence/cdmlib-services/cdmlib-services.uml
cdmlib-persistence/cdmlib-services/src/main/resources/log4j.properties
cdmlib-persistence/cdmlib-services/src/test/resources/eu/etaxonomy/cdm/api/service/PUBLIC.xsd
cdmlib-persistence/cdmlib-services/src/test/resources/eu/etaxonomy/cdm/api/service/dataset.xsd
cdmlib-persistence/cdmlib-services/src/test/resources/eu/etaxonomy/cdm/integrationTest.xml
cdmlib-persistence/cdmlib-services/target
cdmlib-persistence/latestChanges.patch
cdmlib-persistence/target
cdmlib-persistence/testANTLR
/latestChanges.patch
/target
/testANTLR
