* text=auto !eol
cdmlib-commons/LICENSE.TXT -text
cdmlib-commons/README.TXT -text
cdmlib-commons/pom.xml -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/AccountStore.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/CdmUtils.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/DocUtils.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/DoubleResult.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/ExcelUtils.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/FileCopy.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/ResultWrapper.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/StreamUtils.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/Tree.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/TreeNode.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/UriUtils.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/XmlHelp.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/media/AudioInfo.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/media/ImageInfo.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/media/MediaInfo.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/media/MimeType.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/monitor/DefaultProgressMonitor.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/monitor/IProgressMonitor.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/monitor/IRestServiceProgressMonitor.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/monitor/NullProgressMonitor.java -text svneol=unset#text/plain
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/monitor/ProgressMonitorWrapper.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/monitor/RestServiceProgressMonitor.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/monitor/SubProgressMonitor.java -text
cdmlib-commons/src/main/resources/MUST-EXIST.txt -text
cdmlib-commons/src/main/resources/log4j.properties -text
cdmlib-commons/src/test/java/eu/etaxonomy/cdm/common/CdmUtilsTest.java -text
cdmlib-commons/src/test/java/eu/etaxonomy/cdm/common/UriUtilsTest.java -text
cdmlib-commons/src/test/java/eu/etaxonomy/cdm/common/UuidGenerator.java -text
cdmlib-commons/src/test/java/eu/etaxonomy/cdm/common/XmlHelpTest.java -text
cdmlib-commons/src/test/java/eu/etaxonomy/cdm/common/media/ImageInfoTest.java -text
cdmlib-commons/src/test/java/eu/etaxonomy/cdm/test/suite/CdmTestSuite.java -text
cdmlib-commons/src/test/resources/images/OregonScientificDS6639-DSC_0307-small.jpg -text
cdmlib-commons/src/test/resources/images/OregonScientificDS6639-DSC_0307-small.tif -text
cdmlib-commons/src/test/resources/images/Thumbs.db -text
cdmlib-ext/LICENSE.TXT -text
cdmlib-ext/README.TXT -text
cdmlib-ext/pom.xml -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/bci/BciSchemaAdapter.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/bci/BciServiceWrapper.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/bci/IBciServiceWrapper.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/common/SchemaAdapterBase.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/common/ServiceWrapperBase.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/dc/DublinCoreSchemaAdapter.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/geo/EditGeoService.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/geo/EditGeoServiceUtilities.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/geo/GeoServiceArea.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/geo/GeoServiceAreaAnnotatedMapping.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/geo/IEditGeoService.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/geo/IGeoServiceAreaMapping.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/ipni/IIpniService.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/ipni/IIpniServiceConfigurator.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/ipni/IpniService.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/ipni/IpniServiceAuthorConfigurator.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/ipni/IpniServiceConfiguratorBase.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/ipni/IpniServiceNamesConfigurator.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/ipni/IpniServicePublicationConfigurator.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/openurl/MobotOpenUrlQuery.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/openurl/MobotOpenUrlResponseSchemaAdapter.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/openurl/MobotOpenUrlServiceWrapper.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/openurl/OpenUrlReference.java -text
cdmlib-ext/src/main/java/eu/etaxonomy/cdm/ext/sru/SruServiceWrapper.java -text
cdmlib-ext/src/main/resources/eu/etaxonomy/cdm/ext/geo/mapServices_v10.xsd -text
cdmlib-ext/src/test/java/eu/etaxonomy/cdm/ext/bci/BciServiceTest.java -text
cdmlib-ext/src/test/java/eu/etaxonomy/cdm/ext/geo/EditGeoServiceTest.java -text
cdmlib-ext/src/test/java/eu/etaxonomy/cdm/ext/geo/GeoServiceAreaTest.java -text
cdmlib-ext/src/test/java/eu/etaxonomy/cdm/ext/ipni/IpniServiceTest.java -text
cdmlib-ext/src/test/java/eu/etaxonomy/cdm/ext/openurl/MobotOpenUrlServiceWrapperTest.java -text
cdmlib-ext/src/test/java/eu/etaxonomy/cdm/ext/sru/SruServiceWrapperTest.java -text
cdmlib-ext/src/test/java/eu/etaxonomy/cdm/test/suite/CdmTestSuite.java -text
cdmlib-ext/src/test/resources/dbscripts/001-cdm.h2.sql -text
cdmlib-ext/src/test/resources/eu/etaxonomy/cdm.datasources.xml -text
cdmlib-ext/src/test/resources/eu/etaxonomy/cdm/applicationContext-test.xml -text
cdmlib-ext/src/test/resources/eu/etaxonomy/cdm/cdm.datasources.xml -text
cdmlib-ext/src/test/resources/eu/etaxonomy/cdm/ext/dataset.dtd -text
cdmlib-ext/src/test/resources/log4j.properties -text
cdmlib-ext/src/test/resources/unitils.properties -text
src/changes/changes.xml -text
src/docbkx/ReferenceDocumentation.xml -text
src/docbkx/annotation-and-markers.xml -text
src/docbkx/base-classes.xml -text
src/docbkx/basic-persistence.xml -text
src/docbkx/free-text-search.xml -text
src/docbkx/guid-resolution.xml -text
src/docbkx/identifiable-entities.xml -text
src/docbkx/resources/css/html.css -text
src/docbkx/resources/images/ModelOverview20.gif -text
src/docbkx/resources/images/cdmlib-arch3.png -text
src/docbkx/resources/images/dao.png -text
src/docbkx/resources/images/logo.png -text
src/docbkx/resources/images/service.png -text
src/docbkx/resources/xsl/cdmlib.xsl -text
src/docbkx/resources/xsl/fopdf.xsl -text
src/docbkx/resources/xsl/html_chunk.xsl -text
src/docbkx/security.xml -text
src/docbkx/service.xml -text
src/docbkx/versioning.xml -text
src/site/apt/download.apt -text
src/site/apt/getting-started.apt -text
src/site/apt/index.apt -text
src/site/apt/oai-pmh.apt -text
src/site/apt/overview.apt -text
src/site/apt/reference.apt -text
src/site/apt/remote/name-catalogue-default.apt -text
src/site/apt/remote/name-catalogue-name-info.apt -text
src/site/apt/remote/name-catalogue-taxon-info.apt -text
src/site/apt/rest-api-name-catalogue.apt -text
src/site/apt/rest-api.apt -text
src/site/fml/faq.fml -text
src/site/fml/troubleshooting.fml -text
src/site/resources/images/cdm-server-oai-pmh.png -text
src/site/resources/images/cdmlib-arch4.png -text
src/site/resources/images/cdmlib_overview.png -text
src/site/site.xml -text
