* text=auto !eol
cdmlib-commons/pom.xml -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/CdmUtils.java -text
cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/XmlHelp.java -text
cdmlib-commons/src/main/resources/MUST-EXIST.txt -text
cdmlib-commons/src/main/resources/log4j.properties -text
cdmlib-commons/src/site/apt/index.apt -text
cdmlib-commons/src/site/site.xml -text
cdmlib-commons/src/test/java/eu/etaxonomy/cdm/common/CdmUtilsTest.java -text
cdmlib-commons/src/test/java/eu/etaxonomy/cdm/common/XmlHelpTest.java -text
cdmlib-commons/src/test/java/eu/etaxonomy/cdm/test/suite/CdmTestSuite.java -text
cdmlib-commons/src/test/java/eu/etaxonomy/cdm/test/unit/CdmUnitTestBase.java -text
