edit-svn/*.project
edit-svn/.directory
edit-svn/.metadata
edit-svn/cdmlib-commons/.classpath
edit-svn/cdmlib-commons/.project
edit-svn/cdmlib-commons/.settings
edit-svn/cdmlib-commons/bin
edit-svn/cdmlib-commons/src/main/java/eu/etaxonomy/cdm/common/ResultWrapper.java
edit-svn/cdmlib-commons/target
edit-svn/cdmlib-ext/.classpath
edit-svn/cdmlib-ext/.project
edit-svn/cdmlib-ext/.settings
edit-svn/cdmlib-ext/bin
edit-svn/cdmlib-ext/hibernate.log
edit-svn/cdmlib-ext/src/test/resources/eu/etaxonomy/cdm/ext/PUBLIC.xsd
edit-svn/cdmlib-ext/src/test/resources/eu/etaxonomy/cdm/ext/dataset.xsd
edit-svn/cdmlib-ext/target
edit-svn/cdmlib-io/.classpath
edit-svn/cdmlib-io/.project
edit-svn/cdmlib-io/.settings
edit-svn/cdmlib-io/.umlproject
edit-svn/cdmlib-io/bin
edit-svn/cdmlib-io/cdmlib-io.uml
edit-svn/cdmlib-io/src/main/java/eu/etaxonomy/cdm/io/berlinModel/in/BerlinModelTaxonImportValidator.java
edit-svn/cdmlib-io/src/main/java/eu/etaxonomy/cdm/io/markup/Markup_OLD.java
edit-svn/cdmlib-io/src/test/resources/eu/etaxonomy/cdm/io/PUBLIC.xsd
edit-svn/cdmlib-io/src/test/resources/eu/etaxonomy/cdm/io/dataset.xsd
edit-svn/cdmlib-io/src/test/resources/eu/etaxonomy/cdm/io/dwca/in/coreTax.txt
edit-svn/cdmlib-io/src/test/resources/eu/etaxonomy/cdm/io/dwca/in/meta.xml
edit-svn/cdmlib-io/src/test/resources/eu/etaxonomy/cdm/io/dwca/in/vernacular.txt
edit-svn/cdmlib-io/src/test/resources/eu/etaxonomy/cdm/io/jaxb/CdmImporterTest.xml.edited
edit-svn/cdmlib-io/src/test/resources/log4j.properties
edit-svn/cdmlib-io/target
edit-svn/cdmlib-model/.classpath
edit-svn/cdmlib-model/.externalToolBuilders
edit-svn/cdmlib-model/.project
edit-svn/cdmlib-model/.settings
edit-svn/cdmlib-model/ajcore.*.txt
edit-svn/cdmlib-model/bin
edit-svn/cdmlib-model/doc
edit-svn/cdmlib-model/src/main/java/eu/etaxonomy/cdm/model/common/ParserProblemRange.java
edit-svn/cdmlib-model/src/test/java/eu/etaxonomy/cdm/model/common/OrderedTermBaseTest.java
edit-svn/cdmlib-model/src/test/java/eu/etaxonomy/cdm/model/name/NonViralNameTest.java
edit-svn/cdmlib-model/target
edit-svn/cdmlib-persistence/.classpath
edit-svn/cdmlib-persistence/.project
edit-svn/cdmlib-persistence/.settings
edit-svn/cdmlib-persistence/.umlproject
edit-svn/cdmlib-persistence/002_cdm.dll
edit-svn/cdmlib-persistence/NewDataSet.xml
edit-svn/cdmlib-persistence/bin
edit-svn/cdmlib-persistence/cdmlib-persistence.uml
edit-svn/cdmlib-persistence/out.xml
edit-svn/cdmlib-persistence/src/test/resources/Copy[!!-~]of[!!-~]test.cdm.datasource.xml
edit-svn/cdmlib-persistence/src/test/resources/dbscripts/Kopie[!!-~]von[!!-~]001_cdm.ddl
edit-svn/cdmlib-persistence/src/test/resources/eu/etaxonomy/cdm/persistence/dao/hibernate/PUBLIC.xsd
edit-svn/cdmlib-persistence/src/test/resources/eu/etaxonomy/cdm/persistence/dao/hibernate/dataset.xsd
edit-svn/cdmlib-persistence/target
edit-svn/cdmlib-persistence/test.xml
edit-svn/cdmlib-print/*odf_output.odf
edit-svn/cdmlib-print/.classpath
edit-svn/cdmlib-print/.project
edit-svn/cdmlib-print/.settings
edit-svn/cdmlib-print/target
edit-svn/cdmlib-print/test
edit-svn/cdmlib-remote-webapp/.classpath
edit-svn/cdmlib-remote-webapp/.project
edit-svn/cdmlib-remote-webapp/.settings
edit-svn/cdmlib-remote-webapp/target
edit-svn/cdmlib-remote/.classpath
edit-svn/cdmlib-remote/.project
edit-svn/cdmlib-remote/.settings
edit-svn/cdmlib-remote/bin
edit-svn/cdmlib-remote/eu.etaxonomy.cdm.model.common.DefinedTermBase
edit-svn/cdmlib-remote/eu.etaxonomy.cdm.model.common.LanguageString
edit-svn/cdmlib-remote/eu.etaxonomy.cdm.model.description.DescriptionBase
edit-svn/cdmlib-remote/eu.etaxonomy.cdm.model.description.DescriptionElementBase
edit-svn/cdmlib-remote/eu.etaxonomy.cdm.model.name.TaxonNameBase
edit-svn/cdmlib-remote/eu.etaxonomy.cdm.model.taxon.TaxonBase
edit-svn/cdmlib-remote/null
edit-svn/cdmlib-remote/secret-accounts.diff
edit-svn/cdmlib-remote/target
edit-svn/cdmlib-services/.classpath
edit-svn/cdmlib-services/.project
edit-svn/cdmlib-services/.settings
edit-svn/cdmlib-services/.umlproject
edit-svn/cdmlib-services/CleanSweepInsertLoadStrategy-debug.xml
edit-svn/cdmlib-services/bin
edit-svn/cdmlib-services/cdmlib-services.uml
edit-svn/cdmlib-services/src/main/resources/log4j.properties
edit-svn/cdmlib-services/src/test/resources/eu/etaxonomy/cdm/api/service/PUBLIC.xsd
edit-svn/cdmlib-services/src/test/resources/eu/etaxonomy/cdm/api/service/dataset.xsd
edit-svn/cdmlib-services/src/test/resources/eu/etaxonomy/cdm/integrationTest.xml
edit-svn/cdmlib-services/src/test/resources/eu/etaxonomy/cdm/service/PUBLIC.xsd
edit-svn/cdmlib-services/src/test/resources/eu/etaxonomy/cdm/service/dataset.xsd
edit-svn/cdmlib-services/target
edit-svn/cdmlib-services/testTaxonNodeByNameComparator-dump.xml
edit-svn/latestChanges.patch
edit-svn/target
edit-svn/testANTLR
