/.classpath
/.project
/.settings
/bin
src/main/java/eu/etaxonomy/cdm/app/common/YTestActivator.java
src/main/resources/TaxonX_all_to_rename_no_types.zip
src/main/resources/TaxonX_all_to_rename_with_types.zip
src/main/resources/TaxonX_to_rename_Nov2008.zip
src/main/resources/TaxonX_to_rename_Nov2008_korr.zip
src/main/resources/arecaceae.rdf_alt
src/main/resources/arecaceae.zip
src/main/resources/arecaceae.zip_alt
src/main/resources/arecaceae_alt.rdf
src/main/resources/arecaceae_old.rdf
src/main/resources/arecaceae_old.zip
src/main/resources/arecaceae_old2.rdf
src/main/resources/arecaceae_short.rdf
src/main/resources/tmp
/target
