* text=auto !eol
cdmLibraryPlugin/.classpath -text
cdmLibraryPlugin/.project -text
cdmLibraryPlugin/META-INF/MANIFEST.MF -text
cdmLibraryPlugin/antlr-2.7.6.jar -text
cdmLibraryPlugin/asm-attrs.jar -text
cdmLibraryPlugin/asm.jar -text
cdmLibraryPlugin/aspectjrt.jar -text
cdmLibraryPlugin/aspectjweaver.jar -text
cdmLibraryPlugin/build.properties -text
cdmLibraryPlugin/build_ant.xml -text
cdmLibraryPlugin/cdmLibrary.jar -text
cdmLibraryPlugin/cglib-2.1.3.jar -text
cdmLibraryPlugin/commons-collections-2.1.1.jar -text
cdmLibraryPlugin/commons-logging-1.0.4.jar -text
cdmLibraryPlugin/dist/plugins/eu.etaxonomy.cdmLibrary_1.0.0.jar -text
cdmLibraryPlugin/dom4j-1.6.1.jar -text
cdmLibraryPlugin/ehcache-1.2.3.jar -text
cdmLibraryPlugin/ejb3-persistence.jar -text
cdmLibraryPlugin/hibernate-annotations.jar -text
cdmLibraryPlugin/hibernate-commons-annotations.jar -text
cdmLibraryPlugin/hibernate-validator.jar -text
cdmLibraryPlugin/hibernate3.jar -text
cdmLibraryPlugin/hsqldb.jar -text
cdmLibraryPlugin/javassist.jar -text
cdmLibraryPlugin/jaxb-api.jar -text
cdmLibraryPlugin/jaxb-impl-2.0-sources.jar -text
cdmLibraryPlugin/jaxb-impl-2.0.jar -text
cdmLibraryPlugin/jdbc2_0-stdext.jar -text
cdmLibraryPlugin/jta.jar -text
cdmLibraryPlugin/junit-4.4.jar -text
cdmLibraryPlugin/log4j-1.2.14.jar -text
cdmLibraryPlugin/mysql-connector-java-3.1.14-bin.jar -text
cdmLibraryPlugin/plugin.xml -text
cdmLibraryPlugin/spring-aspects.jar -text
cdmLibraryPlugin/spring.jar -text
cdmLibraryPlugin/xercesImpl.jar -text
cdmLibraryPlugin/xml-apis.jar -text
cdmlibrary/.classpath -text
cdmlibrary/.project -text
cdmlibrary/archive/ChangePropertyAspect.java -text
cdmlibrary/archive/editCdm.hibernate.cfg.xml -text
cdmlibrary/build.xml -text
cdmlibrary/dist/jar/cdmLibrary.jar -text
cdmlibrary/dist/jar/cdmLibraryFat.jar -text
cdmlibrary/dist/zip/cdmLibrary.zip -text
cdmlibrary/editCdm.spring.cfg.xml -text
cdmlibrary/lib/antlr-2.7.6.jar -text
cdmlibrary/lib/asm-attrs.jar -text
cdmlibrary/lib/asm.jar -text
cdmlibrary/lib/aspectjrt.jar -text
cdmlibrary/lib/aspectjweaver.jar -text
cdmlibrary/lib/cglib-2.1.3.jar -text
cdmlibrary/lib/commons-collections-2.1.1.jar -text
cdmlibrary/lib/commons-logging-1.0.4.jar -text
cdmlibrary/lib/dom4j-1.6.1.jar -text
cdmlibrary/lib/ehcache-1.2.3.jar -text
cdmlibrary/lib/ejb3-persistence.jar -text
cdmlibrary/lib/hibernate-annotations.jar -text
cdmlibrary/lib/hibernate-commons-annotations.jar -text
cdmlibrary/lib/hibernate-validator.jar -text
cdmlibrary/lib/hibernate3.jar -text
cdmlibrary/lib/hsqldb.jar -text
cdmlibrary/lib/javassist.jar -text
cdmlibrary/lib/jaxb-api.jar -text
cdmlibrary/lib/jaxb-impl-2.0-sources.jar -text
cdmlibrary/lib/jaxb-impl-2.0.jar -text
cdmlibrary/lib/jdbc2_0-stdext.jar -text
cdmlibrary/lib/jta.jar -text
cdmlibrary/lib/junit-4.4.jar -text
cdmlibrary/lib/log4j-1.2.14.jar -text
cdmlibrary/lib/mysql-connector-java-3.1.14-bin.jar -text
cdmlibrary/lib/spring-aspects.jar -text
cdmlibrary/lib/spring.jar -text
cdmlibrary/lib/xercesImpl.jar -text
cdmlibrary/lib/xml-apis.jar -text
cdmlibrary/log4j.properties -text
cdmlibrary/src/eu/etaxonomy/cdm/api/application/CdmApplicationController.java -text
cdmlibrary/src/eu/etaxonomy/cdm/api/service/AgentServiceImpl.java -text
cdmlibrary/src/eu/etaxonomy/cdm/api/service/DatabaseServiceImpl.java -text
cdmlibrary/src/eu/etaxonomy/cdm/api/service/EventRegistrationServiceImpl.java -text
cdmlibrary/src/eu/etaxonomy/cdm/api/service/IAgentService.java -text
cdmlibrary/src/eu/etaxonomy/cdm/api/service/IDatabaseService.java -text
cdmlibrary/src/eu/etaxonomy/cdm/api/service/IEventRegistrationService.java -text
cdmlibrary/src/eu/etaxonomy/cdm/api/service/INameService.java -text
cdmlibrary/src/eu/etaxonomy/cdm/api/service/IService.java -text
cdmlibrary/src/eu/etaxonomy/cdm/api/service/NameServiceImpl.java -text
cdmlibrary/src/eu/etaxonomy/cdm/api/service/ServiceBase.java -text
cdmlibrary/src/eu/etaxonomy/cdm/database/DbType.java -text
cdmlibrary/src/eu/etaxonomy/cdm/database/LocalHsqldb.java -text
cdmlibrary/src/eu/etaxonomy/cdm/event/CdmEventListenerRegistrationSupport.java -text
cdmlibrary/src/eu/etaxonomy/cdm/event/ICdmEventListener.java -text
cdmlibrary/src/eu/etaxonomy/cdm/event/ICdmEventListenerRegistration.java -text
cdmlibrary/src/eu/etaxonomy/cdm/event/PersistenceDeleteListener.java -text
cdmlibrary/src/eu/etaxonomy/cdm/event/PersistenceInsertListener.java -text
cdmlibrary/src/eu/etaxonomy/cdm/event/PersistenceLoadListener.java -text
cdmlibrary/src/eu/etaxonomy/cdm/event/PersistenceUpdateListener.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/agent/Person.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/agent/Team.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/common/CdmEntity.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/common/Fact.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/common/FactBase.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/common/IdentifiableEntity.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/common/Media.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/common/NameAlias.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/common/Source.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/common/VersionableEntity.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/common/package-info.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/name/NameFact.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/name/NameFactType.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/name/NameRelationship.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/name/NameRelationshipType.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/name/NomenclaturalCode.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/name/Rank.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/name/TaxonName.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/name/TypeDesignation.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/name/TypeDesignationStatus.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/Article.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/Book.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/BookSection.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/BookSeries.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/CdDvd.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/ConferenceProceedings.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/Database.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/Generic.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/Journal.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/Map.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/NomenclaturalReference.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/Patent.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/PersonalCommunication.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/PublicationBase.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/Report.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/Thesis.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/Unpublished.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/publication/WebPage.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/specimen/Collection.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/specimen/Country.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/specimen/Institution.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/specimen/Locality.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/specimen/MaterialCategory.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/specimen/Region.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/specimen/Specimen.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/taxon/AcceptedTaxon.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/taxon/ConceptRelationshipType.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/taxon/SynonymRelationship.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/taxon/SynonymRelationshipType.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/taxon/SynonymTaxon.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/taxon/TaxonBase.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/taxon/TaxonFact.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/taxon/TaxonFactType.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/taxon/TaxonRelationship.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/view/Group.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/view/User.java -text
cdmlibrary/src/eu/etaxonomy/cdm/model/view/View.java -text
cdmlibrary/src/eu/etaxonomy/cdm/persistence/dao/AgentDaoHibernateImpl.java -text
cdmlibrary/src/eu/etaxonomy/cdm/persistence/dao/DaoBase.java -text
cdmlibrary/src/eu/etaxonomy/cdm/persistence/dao/IAgentDao.java -text
cdmlibrary/src/eu/etaxonomy/cdm/persistence/dao/IDao.java -text
cdmlibrary/src/eu/etaxonomy/cdm/persistence/dao/ITaxonNameDao.java -text
cdmlibrary/src/eu/etaxonomy/cdm/persistence/dao/TaxonNameDaoHibernateImpl.java -text
cdmlibrary/src/eu/etaxonomy/cdm/strategy/BotanicNameCacheStrategy.java -text
cdmlibrary/src/eu/etaxonomy/cdm/strategy/INameCacheStrategy.java -text
cdmlibrary/src/eu/etaxonomy/cdm/strategy/IStrategy.java -text
cdmlibrary/src/eu/etaxonomy/cdm/strategy/StrategyBase.java -text
cdmlibrary/src/eu/etaxonomy/cdm/strategy/ZooNameCacheStrategy.java -text
cdmlibrary/src/eu/etaxonomy/cdm/validation/TaxonNameValidator.java -text
cdmlibrary/test/eu/etaxonomy/cdm/functiontest/EventTest.java -text
cdmlibrary/test/eu/etaxonomy/cdm/functiontest/ListenerTest.java -text
cdmlibrary/test/eu/etaxonomy/cdm/functiontest/SpringControl.java -text
cdmlibrary/test/eu/etaxonomy/cdm/test/model/name/NameRelationshipTest.java -text
cdmlibrary/test/eu/etaxonomy/cdm/test/model/name/TaxonNameTest.java -text
cdmlibrary/test/eu/etaxonomy/cdm/test/suite/CdmTestSuite.java -text
cdmlibrary/test/extern/TestJarMain.java -text
cdmlibrary/zipManifest.txt -text
docs/layers.graffle -text
