<settings>
        <servers>
            <server>
                  <id>edit-wp5</id>
                  <username>edit</username>
		          <password>xxx</password>	
            </server>
		    <server>
		          <id>tomcat-local</id>
		          <username>tomcat</username>
		          <password>xxx</password>
		    </server>
		    <server>
		          <id>tomcat-edit</id>
		          <username>root</username>
		          <password>xxx</password>
		    </server>
        </servers>
</settings>