<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    ">

     <import resource="classpath:/eu/etaxonomy/cdm/services.xml"/>
<!--
     <import resource="classpath:/eu/etaxonomy/cdm/defaultSecurityContext.xml"/>
     <import resource="classpath:/eu/etaxonomy/cdm/spelling.xml"/>
 -->

    <!-- Overwrites two component-scans in services.xml -->
    <context:component-scan base-package="eu/etaxonomy/cdm/service">
      <context:exclude-filter type="regex" expression="eu\.etaxonomy\.cdm\.api\.service\.UserService"/>
    </context:component-scan>
    <context:component-scan base-package="eu/etaxonomy/cdm/persistence">
      <context:exclude-filter type="regex" expression="eu\.etaxonomy\.cdm\.persistence\.dao\.hibernate\.taxon\.TaxonAlternativeSpellingSuggestionParser"/>
    </context:component-scan>

    <!-- enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

   <import resource="classpath:/eu/etaxonomy/cdm/h2-datasource.xml" />

    <!-- This configures default properties, which can overridden with the file specified by the location property -->
    <!-- uncomment to enable hql logging:
    <bean id="hibernateProperties"
        class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.internal.NoCachingRegionFactory</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>
    -->

</beans>