<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!--
        ========================================================================================
            NOTE: this is application context configuration used by all testing contexts
            in common, this file should be included into other contexts.
        ========================================================================================
     -->

    <!-- exclude persistent term initializer as we want to use the TestingTermInitializer instead -->
    <context:component-scan base-package="eu/etaxonomy/cdm/persistence/"/>

    <bean id="testingTermVocabularyDao" class="eu.etaxonomy.cdm.database.TestingTermVocabularyDao"/>

    <bean id="termInitializer" class="eu.etaxonomy.cdm.database.TestingTermInitializer">
        <property name="termsDataSet" value="classpath:/eu/etaxonomy/cdm/database/TermsDataSet-with_auditing_info.xml"/>
        <property name="termsDtd" value="classpath:/eu/etaxonomy/cdm/database/schema/dataset.dtd"/>
    </bean>
    <!-- alternative way :
    <bean id="testingTermInitializer" class="eu.etaxonomy.cdm.database.TestingTermInitializer">
        <property name="termsDataSet" value="classpath:/eu/etaxonomy/cdm/database/TermsDataSet-with_auditing_info.xml"/>
        <property name="termsDtd" value="classpath:/eu/etaxonomy/cdm/database/schema/dataset.dtd"/>
        <property name="omit" value="false"/>
    </bean>
    <bean id="persistentTermInitializer" class="eu.etaxonomy.cdm.database.PersistentTermInitializer">
        <property name="omit" value="true"/>
    </bean>
     -->
     
    <context:component-scan base-package="eu/etaxonomy/cdm/api/cache"/>

    <!-- enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="hibernateProperties"
        class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <!--
            NOTE:
            the database connection is configured in /cdmlib-persistence/src/test/resources/unitils.properties
        -->
        <property name="properties">
            <props>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.internal.NoCachingRegionFactory</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.search.default.directory_provider">org.hibernate.search.store.impl.FSDirectoryProvider</prop>
                <prop key="hibernate.search.default.indexBase">./target/index</prop>
                <!--  hibernate.search.default.exclusive_index_use=false
                      locks must not only be released after application shutdown in test environment -->
                <prop key="hibernate.search.default.exclusive_index_use">false</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2CorrectedDialectTest</prop>
                <prop key="implicitNamingStrategy">org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl"</prop>
                <!-- hsqldb v. <1.9 has a bug (http://sourceforge.net/tracker/?func=detail&atid=378131&aid=1407528&group_id=23316)
                    due to which it is not possible to use batch updates, so we need to disable
                    hibernate batching when using hsqldb in the app context: -->
                <prop key="hibernate.jdbc.batch_size">0</prop>
            </props>
        </property>
    </bean>

    <bean id="tableGeneratorGlobalOverride"
        class="eu.etaxonomy.cdm.persistence.hibernate.TableGeneratorGlobalOverride">
        <property name="properties">
            <props>
                <!-- globally overriding id generation settings see: eu.etaxonomy.cdm.persistence.hibernate.TableGenerator -->
                <prop key="optimizer">none</prop>
                <prop key="initial_value">5000</prop><!-- must be higher than any term id in TermsDataSet.xml -->
            </props>
        </property>
    </bean>

    <bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
       <constructor-arg>
            <list>
                <bean class="org.springframework.security.authentication.TestingAuthenticationProvider"/>
            </list>
        </constructor-arg>
    </bean>

<!--
    We do not use spelling suggestions anymore. This one relates to springmodules which is
    somewhat outdated. Once we work again with spelling suggestions we better use a modern
    approache, e.g. annotation based.
    <bean id="taxonSpellingDirectory" class="org.springmodules.lucene.index.support.FSDirectoryFactoryBean">
      <property name="location" value="file:./target/index/eu.etaxonomy.cdm.model.taxon.TaxonBase_spelling"/>
      <property name="create" value="true"/>
    </bean> -->

</beans>
