<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!--  CURRENTLY we do not have tests testing cdmlib-test functionality
    but only offer functionality for testing other packages.
    Therefore this configuration is NOT IN USE.  -->

    <!-- requires at least spring 2.5.4 
    <context:property-override location="classpath:eu/etaxonomy/cdm/persistence/override.properties"/>
    -->

    <bean id="dataSource" class="org.unitils.database.UnitilsDataSourceFactoryBean"/>

    <import resource="classpath:/eu/etaxonomy/cdm/persistence.xml" />

    <import resource="classpath:/eu/etaxonomy/cdm/applicationContext-test.common.xml" />
</beans>
