a {text-decoration: none; color: #3366AA; background-color:white}
a.external {background-image:url(../images/external.png); background-repeat: no-repeat; background-color:transparent; background-position:right; padding-right:15px; margin-right:3px}
.xleft {float:left}
img {border: 0px}
/**
 * Page Layout
 */
body {background-color: white; color:black; margin: 0px auto; text-align:left; background-color: white}
#title {overflow:auto; width:100%; clear:both}
.page-block {margin: 3px; border: 1px solid #333; font-family: arial, sans-serif; font-size: 0.7em; background: #CCC; color: #333}
.page-block a {background-color: #CCC;color: #3366AA;}
/**
 * Header
 */
#banner {float:right; height: 120px; width: 650px}
#logo {float:left; width:150px; height: 120px; background-image: url(../images/logo.png); background-repeat: no-repeat; background-position:left; }
#banner h1 { display:none }
#logo h1 {display:none}

h1 {font-family: arial, sans-serif; font-size:2em}
h2 {font-family: arial, sans-serif; font-size:2em}
h1.title {text-align:center}
h3.corpauthor {text-align:center;}
h2.subtitle {text-align:center; font-size:1em}
h3 {font-family: arial, sans-serif; font-size:1.5em}
p {margin-top:3px; width: 100%; overflow:auto; text-align:left; clear:both; font-family:sans-serif;}
a,li,th,td {font-family:sans-serif}

