<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/tx   http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    ">

  <!--
    - Accepts a configuration file.
    - The default configuration file is /WEB-INF/views.xml
    <bean  name="viewResolver" class="org.springframework.web.servlet.view.XmlViewResolver">
     <!- -
     FOR DEBUGING ONLY !!!!
     <property name="cache" value="false"/>
      - ->
    </bean>
  -->

  <import resource="classpath:eu/etaxonomy/cdm/remote/json/jsonConfigurations.xml"/>

  <!--
    A TaxonNodeComparator with substitutionRules to allow correct sorted
    taxon nodes e.g. in a taxonomic tree browser
  -->
    <bean  name="taxonNodeByNameComparator" class="eu.etaxonomy.cdm.model.taxon.TaxonNodeByNameComparator">
      <property name="substitutionRules">
        <map>
          <entry key=".*?( sp\.| ssp\.| spp\.| n\.|Nomina dubia|Incertae sedis|Nomina excludenda).*" value="_" />
        </map>
      </property>
    </bean>

</beans>