<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:security="http://www.springframework.org/schema/security"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.0.4.xsd">

    <!--

        ************************************************************************
        *                                                                      *
        *       DETLETE this file, only kept as reference, replaced by         *
        *                 *-securityTest.xml                                   *
        *                                                                      *
        ************************************************************************
     -->

    <!--  <import resource="classpath:/eu/etaxonomy/cdm/defaultSecurityContext.xml"/>  -->

     <!--<import resource="classpath:/eu/etaxonomy/cdm/persistence.xml"/>   -->

    <context:component-scan base-package="eu/etaxonomy/cdm/persistence_security">
       <context:exclude-filter type="regex" expression="eu\.etaxonomy\.cdm\.persistence\.dao\.hibernate\.taxon\.TaxonAlternativeSpellingSuggestionParser"/>
    </context:component-scan>
    <context:component-scan base-package="eu/etaxonomy/cdm/database"/>

      <!-- includes service beans e.g. in eu/etaxonomy/cdm/api -->
  <context:component-scan base-package="eu/etaxonomy/cdm/api/service">
    <!--  <context:exclude-filter type="regex" expression="eu\.etaxonomy\.cdm\.api\.service\.UserService"/> -->
  </context:component-scan>

  <context:component-scan base-package="eu/etaxonomy/cdm/api/application"/>

   <!-- enable the configuration of transactional behavior based on annotations -->
  <tx:annotation-driven transaction-manager="transactionManager"/>

     <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

     <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
      <property name="namingStrategy">
        <bean class="org.hibernate.cfg.DefaultComponentSafeNamingStrategy" />
      </property>

      <property name="configLocation" value="classpath:eu/etaxonomy/cdm/hibernate.cfg.xml"/>
      <property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration"/>
      <property name="dataSource" ref="dataSource"/>
      <property name="hibernateProperties" ref="hibernateProperties"/>
  </bean>


    <bean id="dataSource" class="org.unitils.database.UnitilsDataSourceFactoryBean"/>

    <bean id="hibernateProperties"
        class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLCorrectedDialect</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.internal.NoCachingRegionFactory</prop>
                <!-- TODO trying to use a managed session context -->
                <!--  <prop key="hibernate.current_session_context_class">managed</prop>-->
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.search.default.directory_provider">org.hibernate.search.store.impl.FSDirectoryProvider</prop>
                <prop key="hibernate.search.default.indexBase">./target/test-classes</prop>
            </props>
        </property>
    </bean>

    <bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <constructor-arg>
            <list>
                <bean class="org.springframework.security.authentication.TestingAuthenticationProvider"/>
                <ref local="daoAuthenticationProvider"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="userService"/>
        <property name="saltSource" ref="saltSource"/>
        <property name="passwordEncoder" ref="passwordEncoder"/>
    </bean>

    <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>

    <bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
        <property name="userPropertyToUse" value="getUsername"/>
    </bean>

    <security:global-method-security pre-post-annotations="enabled">
    <security:expression-handler ref="expressionHandler"/>
  </security:global-method-security>

  <bean id="expressionHandler" class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
        <property name="permissionEvaluator" ref="cdmPermissionEvaluator"/>
  </bean>


   <bean class="eu.etaxonomy.cdm.permission.CdmPermissionEvaluator" id="cdmPermissionEvaluator"/>

      <bean id="userService" class="eu.etaxonomy.cdm.api.service.UserService">

      </bean>


    <bean id="groupService" class="eu.etaxonomy.cdm.api.service.GroupServiceImpl">

    </bean>


    <bean id="titleAndNameCacheAutoInitializer" class="eu.etaxonomy.cdm.persistence.dao.initializer.TitleAndNameCacheAutoInitializer"></bean>

    <bean id="defaultBeanInitializer" class="eu.etaxonomy.cdm.persistence.dao.hibernate.HibernateBeanInitializer">
     <property name="beanAutoInitializers">
         <map>
             <entry key="eu.etaxonomy.cdm.model.common.IdentifiableEntity"  value-ref="titleAndNameCacheAutoInitializer" />
         </map>
     </property>
  </bean>
</beans>