<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/tx   http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    ">

    <context:component-scan base-package="eu.etaxonomy.cdm" />
    
    <import resource="classpath:/eu/etaxonomy/cdm/persistence.xml" />
  
    <bean id="dataSource"  lazy-init="true" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.p6spy.engine.spy.P6SpyDriver"/>
        <!-- 
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>

        <property name="url" value="jdbc:mysql://192.168.2.10/cdm_portal"/>
        <property name="url" value="jdbc:mysql://127.0.0.1/cdm_portal_test"/>
        <property name="url" value="jdbc:mysql://192.168.2.10/cdm_edit_cichorieae"/>
        -->
        <property name="url" value="jdbc:mysql://192.168.2.10/cdm_portal_test"/>

        <property name="username" value="edit"/>
        <property name="password" value="wp5"/>
    </bean>
    
    <!-- This configures default properties, which can overridden with the file specified by the location property -->
    <bean id="hibernateProperties" 
        class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
            </props>
        </property>
    </bean>

</beans>