<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/tx   http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    ">
	

     <import resource="classpath:/eu/etaxonomy/cdm/services.xml"/> 
<!-- 
     <import resource="classpath:/eu/etaxonomy/cdm/defaultSecurityContext.xml"/>  
     <import resource="classpath:/eu/etaxonomy/cdm/spelling.xml"/>
 -->
 
 
  	<!-- Overwrites the component-scan in services.xml -->
    <context:component-scan base-package="eu/etaxonomy/cdm">
      <context:exclude-filter type="regex" expression="eu\.etaxonomy\.cdm\.api\.service\.UserService"/>
    </context:component-scan>
    
    
    <!-- enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="transactionManager"/>


	<!--  load usenames and passwords from properties file and import datasource bean configurations -->
    <context:property-placeholder location="file:${user.home}/.cdmLibrary/cdmserver.properties"/>
    <!-- CONFIGURE WEB APPLICATION HERE -->
    <import resource="datasources-local.xml"/>
    <!-- 
    <import resource="datasources-bgbm24-import.xml"/>
    <import resource="datasources-wp7virtual-production-A.xml"/> 
    <import resource="empty-default-datasource.xml"/>
    <import resource="datasources-wp7virtual-production-B.xml"/>
     -->
    
 
</beans>