<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- This application can definetly still be adapted to the new structure.
    However currently it is only used the EditGeoServiceTest and works, so for now
    we don't touch it -->
    
    <import resource="classpath:/eu/etaxonomy/cdm/defaultApplicationContext.xml"/>

	<context:component-scan base-package="eu/etaxonomy/cdm/ext"/>

    <bean id="dataSource" class="org.unitils.database.UnitilsDataSourceFactoryBean"/>
    
    <import resource="classpath:/eu/etaxonomy/cdm/applicationContext-test.common.xml" />

</beans>