<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="FILE" fileName="cdmlib-commons.log" append="true">
      <!-- header and footer not tested, taken from https://stackoverflow.com/questions/24553348/how-to-produce-a-header-row-in-log4j2 -->
      <PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" header="%d{dd MMM yyyy}" footer="XXX"/>
    </File>
    <Console name="STDOUT" target="SYSTEM_OUT">
      
      <PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="warn">
      <AppenderRef ref="STDOUT"/>
      <!-- <AppenderRef ref="FILE"/> -->
    </Root>
    <Logger name="eu.etaxonomy.cdm.common" level="warn"/>
    <!-- suppress HHH90000003 (but be aware there might be other deprecations) -->
    <Logger name="org.hibernate.orm.deprecation" level="error"/>  <!-- additivity="false" -->
  </Loggers>
</Configuration>